body {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  display: block;
}
body#hustle-bg {
  background: #500f76 url(../images/thehustle-bg.jpg) top center fixed repeat-x;
}
.logo img {
  max-width: 885px;
  margin: 118px 0 20px;
}
.tagline img {
  max-width: 684px;
}
.premier img {
  max-width: 321px;
  margin-top: 50px;
}
ul li {
  list-style-type: none;
}
.cities {
  width: 830px;
  margin: 72px auto;
}
.cities-channels {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.125em;
  line-height: 2;
  padding: 0;
}
@media (max-width: 991px) {
  body#hustle-bg {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .logo img {
    width: 100%;
    max-width: 750px;
  }
  .tagline img {
    width: 75%;
    max-width: 535px;
  }
  .premier img {
    width: 45%;
    max-width: 270px;
    margin-top: 40px;
  }
  .cities-channels {
    font-size: 1.75em;
  }
  .cities {
    width: 680px;
    margin: 50px auto;
  }
}
@media (max-width: 767px) {
  .premier img {
    margin-top: 6vw;
  }
  .cities-channels {
    font-size: 1.5em;
  }
  .cities {
    width: 590px;
  }
}
@media (max-width: 640px) {
  .logo img {
    max-width: 885px;
    margin: 50px 0 2vw;
  }
  .hidden-sm-down {
    display: none;
  }
  .cities-channels {
    font-size: 1.125em;
  }
  .cities {
    width: 400px;
  }
}
@media (max-width: 540px) {
  .cities-channels {
    font-size: 1em;
  }
  .cities {
    width: 330px;
  }
}
@media (max-width: 340px) {
  .cities-channels {
    font-size: 12px;
  }
  .cities {
    width: 285px;
  }
}
